<div class="flex items-center justify-between gap-4 my-6">
  <div class="flex-1 bg-[#3c41E9] px-4 py-3.5 text-white rounded-lg">
    <p class="text-sm font-light">Total Employees</p>
    <p class="text-3xl font-medium pt-2">10</p>
  </div>
  <div class="flex-1 bg-[#913AF6] px-4 py-3.5 text-white rounded-lg">
    <p class="text-sm font-light">Job Applicants</p>
    <p class="text-3xl font-medium pt-2">10</p>
  </div>
  <div class="flex-1 bg-[#12A779] px-4 py-3.5 text-white rounded-lg">
    <p class="text-sm font-light">Total Payroll</p>
    <p class="text-3xl font-medium pt-2">10</p>
  </div>
</div>
